.Board {
    margin: auto;
    border-radius: 15px;
    background: radial-gradient(circle, #8b0030 0%, #bf1650 100%);
    box-shadow: 0 0.5vmin 1vmin 1vmin rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: grid;
    grid-template: 'a a a a a a a';
    max-width: 600px;
}

.GameWrapper {
    text-align: center;
}

.Title {
    margin: 20px;
    text-align: center;
    margin-bottom: 60px;
    color: #ffff;
    background: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Catamaran', sans-serif;
    font-style: italic;
    padding: 10px 20px;

    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.Turn {
    display: inline-flex;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    color: #ffffff;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.TurnText {
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}