$color_1: white;
$color_2: #bf1650;


form {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-weight: 100;
    color: $color_1;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
}

.form {
    background: #0e101c;
    max-width: 400px;
    margin: 0 auto;
}

.LoginPage p {
    color: $color_2;

    &::before {
        display: inline;
        content: " ⚠";
    }
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;

    &:disabled {
        opacity: 0.4;
    }
}

label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: $color_1;
    font-size: 14px;
    font-weight: 200;
}

input[type="submit"] {
    background: #ec5990;
    color: $color_1;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
    -webkit-appearance: none;

    &:hover {
        background: #bf1650;
    }

    &:active {
        transition: 0.3s all;
        transform: translateY(3px);
        border: 1px solid transparent;
        opacity: 0.8;
    }
}

input[type="button"] {
    &:active {
        transition: 0.3s all;
        transform: translateY(3px);
        border: 1px solid transparent;
        opacity: 0.8;
    }

    &:hover {
        transition: 0.3s all;
    }

    -webkit-appearance: none;
}

.App {
    max-width: 1100px;
    margin: 0 auto;
}

.FlexWrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.SubmitInputItem {
    max-width: 300px;
    margin: 0 auto;
}

.LoginPage {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(4px);
    padding: 20px;
    border-radius: 15px;

}