@mixin common-slot-props {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 5px;
    position: relative;
}

@mixin common-slot-props-before {
    position: absolute;
    content: "";
    inset: 0;
    margin: auto;
    width: 35px;
    height: 35px;
    border-radius: 35px;
}

.Slot {
    @include common-slot-props;
    box-shadow: 0 0 0 4px #000000;
    background-color: #f9f9f9;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(135deg,
            #eeeeee 0,
            #eeeeee 2px,
            #f9f9f9 0,
            #f9f9f9 50%);
}

@keyframes example {
    0% {

        top: -371px;
    }

    100% {

        top: 0;
    }
}

.Slot-red {
    @include common-slot-props;
    z-index: -2;
    background: #ac0606;
    outline: 3px solid black;
    position: relative;
    animation-name: example;
    animation-duration: 500ms;

    &::before {
        @include common-slot-props-before;
        background: radial-gradient(circle, hsl(0, 96%, 62%) 0%, hsl(1, 67%, 16%) 100%);
    }

}

.Slot-yellow {
    @include common-slot-props;
    z-index: -2;
    animation-name: example;
    outline: 3px solid black;
    animation-duration: 500ms;
    background: #e9e900;

    &::before {
        @include common-slot-props-before;
        background: radial-gradient(circle, #fcff4f 0%, #ac9b07 100%);
    }
}